<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">{{brandName}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="activeLink">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employees" routerLinkActive="activeLink">Show Employees</a>
          </li>
          <li class="nav-item"   >
            <a class="nav-link" routerLink="addemployee" routerLinkActive="activeLink">ADD NEW</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!user.logFlag">
            <a class="nav-link" routerLink="adminlogin" routerLinkActive="activeLink">Admin Login</a>
          </li>
          <li class="nav-item" *ngIf="user.logFlag">
            <button type="button" class="nav-link btn btn-link"  (click)="out()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  