<!--
  public empId=0,
        public empName="",
        public joiningDate = new Date(),
        public basicSalary=0,
        public deptCode="",
        public experience=0,
        public employeePic='-->
<article class="d-flex justify-content-center">
<div class="w-50 border border-4 p-4">
<h3 class="text-center"> Employee Input Form</h3>
<form [formGroup]="employeeForm" enctype="multipart/form-data" (submit)="collectData()" class="p-2">
    <div class="mb-3">
        <label for="empId" class="form-label">ID</label>
        <input type="number" class="form-control" id="empId" formControlName="_id">
        <div class="text-danger text-bold" *ngIf="eid?.touched">  <!-- dirty-->
            <span *ngIf="eid?.hasError('required')">Id is required</span>
        </div>
    </div>
    <div class="mb-3">
         <label for="empName" class="form-label">Name</label>
        <input type="text" class="form-control" id="empName" formControlName="emp_name">
        <div class="text-danger text-bold" *ngIf="ename?.touched">
            <span *ngIf="ename?.hasError('required')">Name is required</span>
            <span *ngIf="ename?.hasError('pattern')">Name must contain only characters</span>
            <span *ngIf="ename?.hasError('minlength')">Name must have atleast 2 letters</span>
        </div>
    </div>
    <div class="mb-3">
        <label for="emailId" class="form-label">Email ID</label>
        <input type="text" class="form-control" id="emailId" formControlName="emp_email">
        <div class="text-danger text-bold" *ngIf="email?.touched">
          <span *ngIf="email?.hasError('required')">Email is required</span>
          <span *ngIf="email?.hasError('email')">Please enter valid email id</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="basicSalary" class="form-label">Basic Salary</label>
      <input type="number" class="form-control" id="basicSalary" formControlName="emp_salary">
      <div class="text-danger text-bold" *ngIf="salary?.touched">
        <span *ngIf="salary?.hasError('required')">Basic Salary is required</span>
        <span *ngIf="salary?.hasError('min')">Please enter valid salary</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="experience" class="form-label">Experience</label>
      <input type="number" class="form-control" id="experience" formControlName="experience">
      <div class="text-danger text-bold" *ngIf="exp?.touched">
        <span *ngIf="exp?.hasError('required')">Experience is required</span>
        <span *ngIf="exp?.hasError('min')">Experience can not be negative</span>
        <span *ngIf="exp?.hasError('max')">Experience must be in 2 digits</span>
      </div>
    </div>
      <div class="mb-3">
        <label for="joiningDate" class="form-label">Joining Date</label>
        <input type="datetime-local" class="form-control" id="joiningDate" formControlName="joining_date">
        <div class="text-danger text-bold" *ngIf="joining?.touched">
          <span *ngIf="joining?.hasError('required')">Joining date is required</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="deptCode" class="form-label">Select Department</label>
        <select class="form-select" id="deptCode" formControlName="dept_code">
            <option *ngFor="let dept of deptcodes" [value]="dept">{{dept}}</option>
        </select>
        <div class="text-danger text-bold" *ngIf="dcode?.touched">
          <span *ngIf="dcode?.hasError('required')">Department is required</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="employeePic" class="form-label" >Upload Image</label>
        <input type="file" (change)="onFileSelected($event)" class="form-control" id="employeePic">
      </div> 
      <div class="mb-3">
        <label for="secreteCode" class="form-label">Secrete Code</label>
        <input type="text" class="form-control" id="secreteCode" formControlName="secrete_code">
        <div class="text-danger text-bold" *ngIf="scode?.touched">
          <span *ngIf="scode?.hasError('required')">Secrete code is required</span>
          <span *ngIf="scode?.hasError('minlength')">Secrete code must atleast 3 chars long</span>
          <span *ngIf="scode?.hasError('maxlength')">Secrete code can not be more than 6 chars</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmCode" class="form-label">Confirm Code</label>
        <input type="text" class="form-control" id="confirmCode" formControlName="confirmCode">
        <div class="text-danger text-bold" *ngIf="cscode?.touched">
          <span *ngIf="employeeForm?.hasError('match')">Both code must match</span>
        </div>
      </div>
    <button type="submit" class="btn btn-primary m-2" [disabled]="employeeForm.invalid" >SUBMIT</button>
    <button type="submit" class="btn btn-primary">RESET</button>
  </form>
</div>
</article>