<div>
    <h4>1-way data binding</h4>
    <h5>String interpolation</h5>
    <i>{{message}} {{companyLocation}}</i>  <!-- {{}}-->
    <h5>Attribute binding</h5>
    <input type="text" [value]="message" placeholder="message">  <!-- []-->
    <input type="text" value="{{message}}" placeholder="message">
    <h4>2-way data binding and Event binding</h4>
    <input type="text" [(ngModel)]="message" placeholder="message" (keyup)="display()"> <!-- FormsModules-->
    <label for="loc">Select ur working location</label>
    <select [(ngModel)]="companyLocation" id="loc" (change)="display()"> (eventname)
        <option value="rabale">Rabale</option>
        <option value="dadar">Dadar</option>
        <option value="parel">Parel</option>
    </select>
    
    <p>
        <i>{{message.toUpperCase()}}</i>
        <b>{{companyLocation}}</b>
    </p>
    <p>
    {{display()}}
    </p>
    <p>
        <i>{{message.toUpperCase()+"this is another concatenation"}}</i> <!-- view + model-->
    </p>
    <h4>Static Variable Binding</h4>
    <i>{{classRef.counter}}</i>
</div>
