

<b *ngIf="voterAge>=18 then neosoft; else webwerks"></b> <!-- template u can put any where in the application but
but templates will be added where we are checking the condition-->
<div>
    <h4>1-way data binding</h4>
    <h5>String interpolation</h5>
    <i>{{message}} {{companyLocation}}</i>  <!-- {{}}-->
    <hr>
    <h5>Attribute binding</h5>
    <input [type]="inputType" [value]="message" [placeholder]="message" title="message">  <!-- []-->
    <input type="text" value="{{message}}" placeholder="message"> <!-- not recommended-->
    <hr>
    <h4>2-way data binding and Event binding</h4>
    <input type="text" [(ngModel)]="message" placeholder="message" (keyup)="display()"> <!-- FormsModules-->
    <input type="radio" [value]="message" title="message"><!--  // [(ngModel)] -->
    <label for="loc">Select ur working location</label>
    <select [(ngModel)]="companyLocation" id="loc" (change)="display()"> 
        <option [value]="locations[0]">Rabale</option>
        <option [value]="locations[1]">DADAR</option>
        <option [value]="locations[2]">Parel</option>
    </select>
    <p>
        <i>{{message.toUpperCase()}}</i>
        <b>{{companyLocation}}</b>
    </p>
   <!--  <p>
    {{display()}}
    </p> -->
    <p>
        <i>{{message.toUpperCase()+"this is another concatenation"}}</i> <!-- view + model-->
    </p>
    <h4>Static Variable Binding</h4>
    <i>{{classRef.objectCounter}}</i>
</div>
<div>
    <h3>Attribute Binding</h3>
    <img [src]="imageObject.path" [alt]="imageObject.alternatemsg" [height]="imageObject.height" title="natureimage">
</div>
<div>
    <h3>Template Reference Variables</h3>
    <b>trv must be unique throught out the application</b>
    <p #indiapara>
         <i>India is my country. </i>
        <b>All indians are my brothers and sisters</b>
    </p>
    <button type="button" (click)="getNode(indiapara)">acces node</button><br>
    <label for="ageNode">Enter your age</label>
    <input type="number" #ageNode (keyup)="getAge(ageNode.value)" title="age">
</div>
<div>

    <h3>Structural Directives</h3>
    <section>
        <h4>*ngIf</h4>
        <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
        <p *ngIf="voterAge>=18">
            Welcome!!!!! Your are allowed for voting....
        </p>
        <p *ngIf="voterAge<18">
            Sorry!!!!! Your are not allowed for voting....
        </p>
    </section>
    <hr>
    <section>
        <h4>*ngIf else</h4>
        <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
        <p *ngIf="voterAge>=18 else elsesection">
            Welcome!!!!! Your are allowed for voting....
        </p>
        <ng-template  #elsesection>
            <p>
                Sorry!!!!! Your are not allowed for voting....
            </p>
        </ng-template>
    </section>
    <hr>
    <section>
        <h4>*ngIf then else</h4>
        <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
         <!-- any html element/ ng-template is used to check condition, it is not part of DOM -->
        <ng-template *ngIf="voterAge>=18 then thenblock; else elseblock"></ng-template> 
        <ng-template #thenblock>
            <p >
               Welcome!!!! you are allowed for voting
            </p>
        </ng-template>
        <ng-template #elseblock>
            <p >
                Sorry!!!!! Your are not allowed for voting....
            </p>
        </ng-template>
    </section>

    <ng-template #webwerks>
        <div>
    
            WEB WERKS
        </div>
    </ng-template>
    
</div>

<ng-template #neosoft>
    <div>
        NEOSOFT
    </div>
</ng-template>

<div>
    <h3>ng if</h3>
    <h1># subject Assignment</h1>
    <h3>out of 100 for each subject</h3>
    <label for="subject1">subject1</label>
    <input type="number" [(ngModel)]="subject.sub1" title="num1"/>
    />
    <br />
    <label for="subject2">subject2</label>
    <input type="number" [(ngModel)]="subject.sub2" title="num1"/>
    <br />
    <label for="subject3">subject3</label>
    <input type="number" [(ngModel)]="subject.sub3" title="num1"/>
    <button type="button" (click)="getPerc()">PERCENTAGE</button>
    <h3>total : {{ subject.sub1+subject.sub2+subject.sub3 }}</h3>
    <h3>percentage: {{ percentage }}%</h3>
    <div *ngIf="percentage >= 70">
      <p class="bg-purple-700 p-3">disinction</p>
    </div>
    <div *ngIf="percentage >=60 && percentage <70">
      <p class="bg-green-500 p-3">first class</p>
    </div>
    <div *ngIf="percentage >=40 && percentage < 60">
      <p class="bg-yellow-500 p-3">pass</p>
    </div>
    <div *ngIf="percentage < 40">
      <p class="bg-red-500 p-3">fail</p>
    </div>
</div>

<div>
    <h3>ngSwitch</h3>
    <h1># subject Assignment</h1>
    <h3>out of 100 for each subject</h3>
    <label for="subject1">subject1</label>
    <input type="number" [(ngModel)]="subject.sub1" title="num1"/>
    <br />
    <label for="subject2">subject2</label>
    <input type="number" [(ngModel)]="subject.sub2" title="num1"/>
    <br />
    <label for="subject3">subject3</label>
    <input type="number" [(ngModel)]="subject.sub3" title="num1"/>
    <button type="button" (click)="getPerc()">PERCENTAGE</button>
    <h3>total : {{ subject.sub1+subject.sub2+subject.sub3 }}</h3>
    <h3>percentage: {{ percentage }}%</h3>
    <article [ngSwitch]="true">
        <div *ngSwitchCase="percentage >= 70"    #distinctionNode>
            <p class="text-success p-1">disinction</p>
        </div>
        <div *ngSwitchCase="percentage >= 70"    #distinctionNode>
            <p class="text-success p-1">disinction</p>
        </div>
        <div *ngSwitchCase="percentage >=60 && percentage <70">
            <p class="text-success p-1">first class</p>
        </div>
        <div *ngSwitchCase="percentage >=40 && percentage < 60">
            <p class="text-warning p-1">pass</p>
        </div>
        <div *ngSwitchCase="percentage < 40 && percentage>=0">
            <p class="text-danger p-1">fail</p>
        </div>
        <div *ngSwitchDefault>
            <p class="text-danger text-bold p-1">Wrong Input : NO GRADE</p>
        </div>
    </article>
    <!--

    create 3 cases for RABALE, PAREL DADAR
    take use input for company location from drop downlist

    if case is for RABALE :
        add a template to show address of Rabale office
    if case is for PAREL :
        add a template to show address of Parel office
    if case is for DADAR :
        add a template to show address of DADAR office
    -->
    <label for="loc2">Select ur working location</label>
    <select [(ngModel)]="companyLocation" id="loc2" (change)="display()"> 
        <option  *ngFor="let location of locations" [value]="location">{{location.toUpperCase()}}</option>
    </select>
    <b>Location is:{{companyLocation}}</b>
    <div [ngSwitch]="companyLocation">
        <div *ngSwitchCase="'rabale'">Sigma IT Park, Unit No. 501, TTC Industrial Area, Rabale, Navi Mumbai, Maharashtra 400701</div>
        <div *ngSwitchCase="'dadar'"> The Ruby Tower, Senapati Bapat Marg, Dadar West, Mumbai, Maharashtra 400028</div>
        <div *ngSwitchCase="'parel'"> Business Arcade, Sayani Road, Opp. S. T Bus Stand, Lower Parel, Mumbai, Maharashtra 400013</div>
        <div *ngSwitchDefault> No branch at this location</div>
    </div>
</div>
<div>
    <h3>ngFor</h3>
     <ol>
        <li *ngFor="let location of locations">{{location}}
        </li> <!-- location variable scope till end of li tag -->
     </ol>
     <h3>ngFor</h3>
     <ol *ngFor="let location of locations">
        <li>{{location}}</li>
     </ol>
</div>