<div>
    <h4>1-way data binding</h4>
    <h5>String interpolation</h5>
    <i>{{message}} {{companyLocation}}</i>  <!-- {{}}-->
    <h5>Attribute binding</h5>
    <input type="text" [value]="message" placeholder="message">  <!-- []-->
    <input type="text" value="{{message}}" placeholder="message">
    <h4>2-way data binding and Event binding</h4>
    <input type="text" [(ngModel)]="message" placeholder="message" (keyup)="display()"> <!-- FormsModules-->
    <label for="loc">Select ur working location</label>
    <select [(ngModel)]="companyLocation" id="loc" (change)="display()"> 
        <option [value]="locations[0]">Rabale</option>
        <option [value]="locations[1]">Dadar</option>
        <option [value]="locations[2]">Parel</option>
    </select>
    <label for="loc2">Select ur working location</label>
    <select [(ngModel)]="companyLocation" id="loc2" (change)="display()"> 
        <option *ngFor="let loc of locations" [value]="loc">{{loc | uppercase }}</option>
    </select>
    <p>
        <i>{{message.toUpperCase()}}</i>
        <b>{{companyLocation}}</b>
    </p>
   <!--  <p>
    {{display()}}
    </p> -->
    <p>
        <i>{{message.toUpperCase()+"this is another concatenation"}}</i> <!-- view + model-->
    </p>
    <h4>Static Variable Binding</h4>
    <i>{{classRef.counter}}</i>
</div>
<div>
    <h3>Template Reference Variables</h3>
    <b>trv must be unique throught out the application</b>
    <p #para>
        India is my country. 
        All indians are my brothers and sisters
    </p>
    <button type="button" (click)="getNode(para)">acces node</button><br>
    <label for="ageNode">Enter your age</label>
    <input type="number" id="ageNode" #ageNode (keyup)="getAge(ageNode.value)">
</div>
<div>

    <h3>Structural Directives</h3>
    <section>
        <h4>*ngIf</h4>
        <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
        <p *ngIf="voterAge>=18">
        Welcome!!!!! Your are allowed for voting....
        </p>
        <p *ngIf="voterAge<18">
            Sorry!!!!! Your are not allowed for voting....
        </p>
    </section>
    <hr>
    <section>
        <h4>*ngIf else</h4>
        <input type="number" [(ngModel)]="voterAge" placeholder="enter your age">
        <p *ngIf="voterAge>=18 else elsepart">
            Welcome!!!!! Your are allowed for voting....
        </p>
        <ng-template #elsepart>
            <p >
                Sorry!!!!! Your are not allowed for voting....
            </p>
            <p >
            because your age is below 18
            </p>
            <p >
                try again in next year.....
            </p>
        </ng-template>
    </section>
</div>