<section>
<h3>Welcome to NEOSOFT</h3>
<p>This Angular Project is performing CRUD operations on EMPLOYEE</p>
<p>New Employee will be</p>
<ol>
    <li>Created and added to database : C</li>
    <li>Read from database and displayed : R</li>
    <li>Updated in database and displayed : U</li>
    <li>Deleted from database and displayed : D</li>
</ol>
<nav>
    <a routerLink="neosoft" class="p-2">NEOSOFT</a>
    <a routerLink="webwerks1">WEBWERKS-1</a>
    <a routerLink="webwerks2">WEBWERKS-2</a>
</nav>
<div>
<h6>Below is router outlet for Home component</h6>
<router-outlet></router-outlet>
</div>
<footer>
    home component footer
</footer>
</section>

