
<article class="d-flex flex-wrap">
  <div class="card" style="width: 18rem;" *ngFor="let employee of neoemployees">
      <img [src]="employee.employeePic" class="card-img-top" alt="..." height="180">
      <div class="card-body">
        <h5 class="card-title">{{employee.empName}}</h5>
        <p class="card-text">{{employee.empName}} joined on  {{employee.joiningDate}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">basic salary : <span>{{employee.basicSalary}}</span></li>
        <li class="list-group-item">deparment code : <span>{{employee.deptCode}}</span></li>
        <li class="list-group-item">Experience : <span>{{employee.experience}}</span> years</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">EDIT</a>
        <a href="#" class="card-link">DELETE</a>
      </div>
  </div>
</article>
