<div class="d-inline-block m-2">
<label for="cardColor">Select color for card :</label>
<input type="color" [(ngModel)]="cardStyle.backgroundColor" id="cardColor">
</div>
<div class="d-inline-block m-2">
    <mat-label>Employee ID : </mat-label>
    <mat-form-field > 
        <input matInput  type="text" placeholder="Search" id="_id" (keyup)="getId(idNode.value)" #idNode> 
        <mat-icon aria-hidden="false"  fontIcon="search" matSuffix></mat-icon>
    </mat-form-field>
    <b class="text-danger">{{notFoundMessage}}</b>
</div>

 <article [ngClass]="flexClasses">
    <app-employee-card  *ngFor="let employee of neoemployees" [employee]="employee"
     [cardStyle]="cardStyle" (eventEmitter)="deleteEmployee($event)"></app-employee-card> <!-- custom event binding-->
</article>
